In [1]:
#chapter 1-5
import pandas 
pandas.show_versions()

C:\ProgramData\Anaconda3\lib\site-packages\_distutils_hack\__init__.py:33: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")

INSTALLED VERSIONS
------------------
commit           : ca60aab7340d9989d9428e11a51467658190bb6b
python           : 3.9.13.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.19044
machine          : AMD64
processor        : Intel64 Family 6 Model 94 Stepping 3, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : English_United States.1252

pandas           : 1.4.4
numpy            : 1.21.5
pytz             : 2022.1
dateutil         : 2.8.2
setuptools       : 63.4.1
pip              : 23.0.1
Cython           : 0.29.32
pytest           : 7.1.2
hypothesis       : None
sphinx           : 5.0.2
blosc            : None
feather          : None
xlsxwriter       : 3.0.3
lxml.etree       : 4.9.1
html5lib         : None
pymysql          : None
psycopg2         : None
jinja2           : 2.11.3
IPython          : 7.31.1
pandas_datareader: None
bs4              : 4.11.1
bottleneck       : 1.3.5
brotli           :
fastparquet      : None
fsspec           : 2022.7.1
gcsfs            : None
markupsafe       : 2.0.1
matplotlib       : 3.5.2
numba            : 0.55.1
numexpr          : 2.8.3
odfpy            : None
openpyxl         : 3.0.10
pandas_gbq       : None
pyarrow          : None
pyreadstat       : None
pyxlsb           : None
s3fs             : None
scipy            : 1.9.1
snappy           :
sqlalchemy       : 1.4.39
tables           : 3.6.1
tabulate         : 0.8.10
xarray           : 0.20.1
xlrd             : 2.0.1
xlwt             : None
zstandard        : None

In [2]:
import numpy as np
import pandas as pd

In [3]:
nan_series = pd.Series([2, 3,np.nan], index = ['Ono','popo', 'Clapton'])
nan_series.info()
#in pandas NaN value is not supported by int so it transforms every in to float.

<class 'pandas.core.series.Series'>
Index: 3 entries, Ono to Clapton
Series name: None
Non-Null Count  Dtype
--------------  -----
2 non-null      float64
dtypes: float64(1)
memory usage: 48.0+ bytes

In [4]:
nan_series.count() #it didint count the NaN value.

2

In [5]:
nan_series.size #it counted the NaN value.

3

In [6]:
nan_series2 = pd.Series([2, None], index = ['Ono', 'Clapton'], dtype = 'Int64')
nan_series2.info()

#to keep int you can use None instead of NaN and add dtype = 'Int64' now its the nullable integer type

<class 'pandas.core.series.Series'>
Index: 2 entries, Ono to Clapton
Series name: None
Non-Null Count  Dtype
--------------  -----
1 non-null      Int64
dtypes: Int64(1)
memory usage: 34.0+ bytes

In [7]:
#you can use .astype() method to convert columns to nullable integer type/.
nan_series.astype('Int64')

Ono           2
popo          3
Clapton    <NA>
dtype: Int64

In [8]:
songs3 = pd.Series([145, 142, 38, 13],
     name='counts',
     index=['Paul', 'John', 'George', 'Ringo'])
numpy_ser = np.array([145, 142, 38, 13])

In [9]:
songs3.mean()

84.5

In [10]:
songs3.median()

90.0

In [11]:
#to create a filter you can use boolean arrays.
mask = songs3 > songs3.median()
print(mask)

Paul       True
John       True
George    False
Ringo     False
Name: counts, dtype: bool

In [12]:
songs3[mask]

Paul    145
John    142
Name: counts, dtype: int64

In [13]:
#equivelent verison in numpy is:
numpy_ser[numpy_ser > np.median(numpy_ser)]

array([145, 142])

In [14]:
#we can use categorical data too. with dtype = "category" or .astype("category")
s = pd.Series(['m', 'l', 'xs', 's', 'xl'], dtype='category')
s

0     m
1     l
2    xs
3     s
4    xl
dtype: category
Categories (5, object): ['l', 'm', 's', 'xl', 'xs']

In [15]:
#categories dont have ordering. 
s.cat.ordered

False

In [16]:
url = 'https://github.com/mattharrison/datasets/raw/master/data/' \
      'vehicles.csv.zip'
df = pd.read_csv(url)

C:\Users\zeynep's computer\AppData\Local\Temp\ipykernel_9620\942830330.py:3: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

In [17]:
city_mpg = df.city08
highway_mpg = df.highway08

In [18]:
city_mpg.info()

<class 'pandas.core.series.Series'>
RangeIndex: 41144 entries, 0 to 41143
Series name: city08
Non-Null Count  Dtype
--------------  -----
41144 non-null  int64
dtypes: int64(1)
memory usage: 321.6 KB

In [20]:
#built=in dir function will list the attributes of an object
len(dir(city_mpg))

420